<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>aTech Media</string>
	<key>uuid</key>
	<string>5E8D9457-7987-45DA-A5ED-3FC1FDA71FE6</string>
</dict>
</plist>
